* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 1em;
  color: #444;
  line-height: 1.5;

}

.table-of-contents {
  padding: 5%;
  margin-top: 60px;
  background-color: white;
  text-align: left;
}

h1 {
  /* font-weight: normal; */
  font-size: 1em;
  color: #999;
}

a {
  font-weight: bold;
}

header a {
  font-weight: normal;
  color: #999;
}

hr {
  margin-bottom: 40px;
}

p {
  margin-top: 20px;
  color: #999;
}