* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
}

main {
  max-width: 600px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

h1 {
  font-size: 1em;
  margin: 40px 0;
}

.select-css {
  
  display: inline-block;
  color: red;
  padding: 10px;
  /* REFACTOR? 
  padding ignored without these additonal attributes... BUT they also remove the up/down arrows, so will disregard for now. */
  /* -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; */
}

button {
  padding: 5px 10px;
}

section {
  margin: 40px 0;
}

img {
  width: 100%;
}

.error {
  color: red;
}